
<!-- pre install -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.10.0/codemirror.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/monokai.min.css">

<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.10.0/codemirror.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.10.0/addon/mode/overlay.min.js"></script> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.10.0/mode/markdown/markdown.min.js"></script> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.10.0/mode/gfm/gfm.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>

<!-- ui-codemirror-markdown-editor -->
<link rel="stylesheet" href="css/ui-codemirror-markdown-editor.css" />
<script src="js/ui-codemirror-markdown-editor.js"></script>

<!-- for demo -->
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


<!--docs style-->
<link rel="stylesheet" href="css/doc.css" />
<script src="js/controller.js"></script>

<body data-ng-app="MyModule">

<div class="container">
  <div class="header">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">About</a></li>
        <li role="presentation"><a href="#">Contact</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">Instant Codemirror Markdown Editor</h3>
  </div>

  <div class="jumbotron">
    <h1>Simple Markdown Editor</h1>
    <p class="lead">Easily create markdown editor with separately designed helping syntax toolbar, auto generate table contents from heading, along with Angular directive with 2 ways data-binding model option!</p>
    <p><a class="btn btn-lg btn-success" href="https://github.com/dttungsyn/angular-ui-cm-markdown-editor" role="button">Git Repository</a></p>
    <section class="download" style="">
        <i class="fa fa-download"></i>
        <a href="https://github.com/dttungsyn/angular-ui-cm-markdown-editor/tarball/master" class="btn btn-lg btn-default">tar.gz</a>
        <a href="https://github.com/dttungsyn/angular-ui-cm-markdown-editor/zipball/master" class="btn btn-lg btn-default">.zip</a>
    </section>
  </div>

<h2>Features</h2>
<ul>
<li><h4 id="instant-translation-from-markdown-to-html-">Instant translation from markdown to HTML.</h4>
</li>
<li><h4 id="toolbar-buttons-self-designed-independently">Toolbar buttons self designed independently</h4>
</li>
<li><h4 id="auto-generate-table-of-contens">Auto generate Table of Contens</h4>
</li>
<li><h4 id="angular-directive-with-2-ways-data-binding-">Angular directive with 2 ways data binding.</h4>
</li>
</ul>
  
  <h2>Installation</h2>
  <pre><code class="pre-install html">&lt;script src="https://code.jquery.com/jquery-2.1.3.min.js">&lt;/script>
&lt;script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.js">&lt;/script>
&lt;script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js">&lt;/script>

&lt;!-- Codemirror stuffs, and highlight -->
&lt;link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.10.0/codemirror.min.css">
&lt;link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
&lt;script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.10.0/codemirror.js">&lt;/script>
&lt;script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.10.0/addon/mode/overlay.min.js">&lt;/script> 
&lt;script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.10.0/mode/markdown/markdown.min.js">&lt;/script> 
&lt;script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.10.0/mode/gfm/gfm.js">&lt;/script>
&lt;script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js">&lt;/script>

&lt;!-- ui-codemirror-markdown-editor -->
&lt;link rel="stylesheet" href="css/ui-codemirror-markdown-editor.css" />
&lt;script src="js/ui-codemirror-markdown-editor.js">&lt;/script></code></pre>
  
  <h2>Basic Use</h2>
  <div class="row contents" style="margin: 5px 0;">
  	<div id="codemirror-markdown-editor-1"></div>
  </div>
  <h4><a style="cursor: pointer">Source</a></h4>
  <pre><code class="html">&lt;div id="codemirror-markdown-editor">&lt;/div>

&lt;script type="text/javascript">
$(document).ready(function(){
    var codemirrorOptions = {};
    new MyCodemirrorUI( $('#codemirror-markdown-editor'), codemirrorOptions )
})
&lt;/script></code></pre>
  
  <h2>Use with self-designed toolbar</h2>
  <div class="row contents" style="margin: 5px 0;">
    
    <!-- toolbar -->
    <div class="btn-toolbar" style="margin: 5px 0;" role="toolbar">

      <div class="btn-group" role="group">
	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	      <i class="fa fa-header"></i>&nbsp;Heading
	      <span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu" role="menu">
	      <li><a data-editorbtn="h1"><h1>Heading 1</h1></a></li>
	      <li><a data-editorbtn="h2"><h2>Heading 2</h2></a></li>
	      <li><a data-editorbtn="h3"><h3>Heading 3</h3></a></li>
	      <li><a data-editorbtn="h4"><h4>Heading 4</h4></a></li>
	      
	    </ul>
	  </div>
	  <div class="btn-group" role="group" aria-label="First group">
	
	    <button type="button" data-editorbtn="bold" class="btn btn-default">
	        <i class="fa fa-bold"></i>
	    </button>
	    <button type="button" data-editorbtn="italic" class="btn btn-default">
	        <i class="fa fa-italic"></i>
	    </button>
	    <button type="button" data-editorbtn="strikethrough" class="btn btn-default">
	        <i class="fa fa-strikethrough"></i>
	    </button>
	    <button type="button" data-editorbtn="underline" class="btn btn-default">
	        <i class="fa fa-underline"></i>
	    </button>
	  </div>
	  <div class="btn-group" role="group" aria-label="Second group">
	    <button type="button" data-editorbtn="link" class="btn btn-default">
	        <i class="fa fa-link"></i>
	    </button>
	    <button type="button" data-editorbtn="image" class="btn btn-default">
	        <i class="fa fa-image"></i>
	    </button>
	  </div>
	  <div class="btn-group" role="group" aria-label="Third group">
	    <button type="button" data-editorbtn="list" class="btn btn-default">
	        <i class="fa fa-list-ul"></i>
	    </button>
	    <button type="button" data-editorbtn="table" class="btn btn-default">
	        <i class="fa fa-table"></i>
	    </button>
	  </div>
	  <div class="btn-group" role="group" aria-label="Third group">
	    <button type="button" data-editorbtn="undo" class="btn btn-default">
	        <i class="fa fa-undo"></i>
	    </button>
	    <button type="button" data-editorbtn="redo" class="btn btn-default">
	        <i class="fa fa-repeat"></i>
	    </button>
	  </div>
	  
	  <div class="btn-group pull-right" role="group" aria-label="Third group">
	    <button type="button" data-editorbtn="fullscreen" class="btn btn-default">
	        <i class="fa fa-arrows-alt"></i>
	    </button>
	    <button type="button" data-editorbtn="eye" class="btn btn-default">
	        <i class="fa fa-eye"></i>
	    </button>
	  </div>
    
    </div><!-- end toolbar -->
    
  	<div id="codemirror-markdown-editor-2"></div>
  </div>
  <p>In this example, i created a toolbar buttons using bootstrap and font-awesome, pass its selector string in as a config option <code>{toolbarContainer: '.btn-toolbar'}</code>. 
  Inside the toolbar, only buttons that has attribute <code>data-editorbtn</code> make sense to our editor, and its value specify its corresponding function. Ex: 
  <code>&lt;a data-editorbtn="h1">&lt;h1>Heading 1&lt;/h1>&lt;/a></code>.
  Visually, you can design the toolbar for yourself, and put it any where you want. </p>
  
  <h4><a style="cursor: pointer">Source</a></h4>
  <pre><code class="javascript">codemirrorOptions = {
  toolbarContainer: '.btn-toolbar'
};
new MyCodemirrorUI( $('#codemirror-markdown-editor-2'), codemirrorOptions );</code></pre>

  <p>Here is the list of functions provided:</p>
  
  <table>
    <thead>
    <tr>
    <th>Item</th>
    <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>h[1-6]</td>
    <td>Heading element with the level from 1 to 6</td>
    </tr>
    <tr>
    <td>bold</td>
    <td>make selected text bold</td>
    </tr>
    <tr>
    <td>italic</td>
    <td>make selected text italic</td>
    </tr>
    <tr>
    <td>strikethrough</td>
    <td>make selected text strikethrough</td>
    </tr>
    <tr>
    <td>undo</td>
    <td>step back one step</td>
    </tr>
    <tr>
    <td>redo</td>
    <td>step forward one step</td>
    </tr>
    <tr>
    <td>list</td>
    <td>create list</td>
    </tr>
    <tr>
    <td>table</td>
    <td>create table</td>
    </tr>
    <tr>
    <td>eye</td>
    <td>change view between markdown, preview or both</td>
    </tr>
    <tr>
    <td>fullscreen</td>
    <td>make fullscreen view editor</td>
    </tr>
    <tr>
    <td>script</td>
    <td>create script ( javascript, html, C, java, python,....)</td>
    </tr>
    </tbody>
  </table>

  <h2>Generate Table Contents</h2>
  
  <h2>Use as Angular directive</h2>
  <section data-ng-controller="MyController">
      <div class="row" ng-model="content" ui-codemirror-markdown="editorOptions" style="margin: 5px 0;"></div>
  </section>
  
  <h4><a style="cursor: pointer">Source</a></h4>
  <p>We have to create a javascript file for definition of Angular module and controller, remember to include <code>ui-codemirror-markdown</code> module.
  </p>
  <h5><a style="cursor: pointer">controller.js</a></h5>
  <pre><code class="javascript">angular.module('MyModule', ['ui-codemirror-markdown'])
    .controller('MyController', ['$scope', controller]);

function controller($scope){
    $scope.content = "#This is codemirror";
    $scope.editorOptions = {
        lineNumbers: false
    };
}</code></pre>
  
  <p>Then include javascript file and setup html element</p>
  <h5><a style="cursor: pointer">html</a></h5>
  <pre><code class="html">&lt;script src="js/controller.js">&lt;/script>
&lt;body data-ng-app="MyModule">
    ...
    &lt;section data-ng-controller="MyController">
      &lt;div class="row" ng-model="content" ui-codemirror-markdown="editorOptions">&lt;/div>
    &lt;/section>
    ...      
&lt;/body></code></pre>
  
  <footer class="footer">
    <p>&copy; Company 2014</p>
  </footer>

</div> <!-- /container -->

<script type="text/javascript">

$(document).ready(function(){
	//set html
	//$("code.pre-install").text('');

	hljs.initHighlightingOnLoad();

	var codemirrorOptions = {
		lineNumbers: false
	};
	new MyCodemirrorUI( $('#codemirror-markdown-editor-1'), codemirrorOptions );
	
	codemirrorOptions = {
		toolbarContainer: '.btn-toolbar'
	};
	new MyCodemirrorUI( $('#codemirror-markdown-editor-2'), codemirrorOptions );
	
	
})

</script>

</body>
